/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

main:after {
  /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 0.8) 90%); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  content: '';
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

/* IMAGENS DO CARROSSEL */
.carrossel {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.carrossel .imagem {
  animation: mudarImagem 0.9s;
  display: none;
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

@keyframes mudarImagem {
  from {
    opacity: 0.65;
  }
  to {
    opacity: 1;
  }
}

.carrossel .imagem.ativa {
  display: block;
}

/* CONTEÚDO */
.conteudo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.informacoes .titulo-filme {
  display: none;
  filter: invert(1);
  font-size: 2.9em;
  margin-bottom: 32px;
  padding-left: 32px;
  max-width: 65%;
}

.informacoes .sinopse {
  color: #fff;
  display: none;
  font-size: 20px;
  line-height: 30px;
  padding-left: 32px;
  max-width: 65%;
}

.informacoes .titulo-filme.ativo {
  display: block;
}

.informacoes .sinopse.sinopse-ativa {
  display: block;
}

/* BOTÕES DO CARROSSEL */
.botoes-carrossel {
  bottom: 8%;
  display: flex;
  gap: 24px;
  justify-content: center;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.botoes-carrossel .botao {
  background-color: #fff;
  border: 2px solid transparent;
  border-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.botoes-carrossel .botao:hover {
  background-color: #ff0000;
}

.botoes-carrossel .botao.selecionado {
  background-color: #ff0000;
}

/* CONTATO */
.contato {
  align-items: center; /* alinhar na vertical */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;
}

.contato ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}

.contato .icone {
  filter: invert(1);
  transition: 0.3s ease-in-out;
  width: 30px;
}

.contato .icone:hover {
  transform: scale(1.2);
}