@media (max-width: 1280px) {

}

@media (max-width: 768px) {
  /* CONTEÚDO */
  .informacoes .titulo-filme {
    font-size: 2.3;
    margin: auto;
    max-width: 65%;
    padding: 0;
    text-align: center;
  }

  .informacoes .sinopse {
    margin: 32px auto;
    max-width: 65%;
    padding: 0;
    text-align: center;
  }

  /* BOTÕES DO CARROSSEL */
  .botoes-carrossel {
    margin: 0 auto;
    position: static;
    transform: translate(0%, 0%);
    width: 95%;
  }

  /* CONTATO */
  /* .contato {
    margin-top: 16px;
    min-height: auto;
    position: static;
    width: 100%;
  }

  .contato ul {
    flex-direction: row;
  } */
}

@media (max-width: 500px) {
  /* .carrossel .imagem {
    height: auto;
  } */

  /* CONTEÚDO */
  .informacoes .titulo-filme {
    font-size: 2.3;
    margin: auto;
    max-width: 90%;
    padding: 0;
  }

  .informacoes .sinopse {
    margin: auto;
    max-width: 90%;
    padding: 0;
  }

  /* BOTÕES DO CARROSSEL */
  .botoes-carrossel {
    margin: 40px auto;
    position: static;
    transform: translate(0%, 0%);
    width: 95%;
  }

  /* CONTATO */
  .contato {
    margin-bottom: 40px;
    min-height: auto;
    position: static;
    width: 100%;
  }

  .contato ul {
    flex-direction: row;
  }
}