@charset "utf-8";

@media (min-width: 870px) {
  /* CONTEÚDO */
  .conteudo {
    height: 100vh;
    justify-content: space-evenly;
  }

  .informacoes .titulo-filme {
    font-size: 3.1em;
    margin: 0 0 32px 0;
    max-width: 65%;
    min-height: unset;
    padding: 0 0 0 32px;
    text-align: left;
  }

  .informacoes .sinopse {
    font-size: 22px;
    line-height: 30px;
    margin: unset;
    max-width: 65%;
    min-height: unset;
    padding: 0 0 0 32px;
    text-align: left;
  }


  /* BOTÕES DO CARROSSEL */
  .botoes-carrossel {
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* CONTATO */
  .contato {
    position: fixed;
    right: 0;
    top: 0;
    left: unset;
    bottom: unset;
    align-items: center; /* alinhar na vertical */
    margin: unset;
    min-height: 100vh;
    width: 80px;
  }

  .contato ul {
    flex-direction: column;
  }
}